.navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.nav-content {
  width: 85%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header-website-logo {
  width: 54px;
  margin-right: 10px;
}
.header-website-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #262626;
}
.header-menu-button {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}
.header-menu-icon {
  width: 25px;
  height: 25px;
}
.nav-menu-sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-lg {
  display: none;
}
.nav-menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
}
.nav-item {
  margin-right: 10px;
}
.nav-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  text-decoration: none;
  background-color: transparent;
  padding: 0px;
  border: none;
}
.active-menu {
  color: #4094ef;
}
.header-logout-button {
  width: 80px;
  height: 30px;
  background-color: #4094ef;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
}
.header-close-button {
  padding: 0px;
  background-color: transparent;
  border: 0px;
}

.header-close-icon {
  width: 22px;
  height: 22px;
}

.header-search-container-sm {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  height: 28px;
  margin-top: 16px;
  margin-bottom: 20px;
}
.header-search {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  color: #262626;
  background-color: transparent;
  border: 0px;
  padding-left: 10px;
  flex-grow: 1;
  outline: none;
  margin-right: 5px;
}

.header-search-button {
  background: #dbdbdb;
  border-radius: 0px 2px 2px 0px;
  border: 0px;
  padding: 0px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-search-icon {
  color: #989898;
  width: 12px;
  height: 12px;
}
.navbar-footer-rule {
  display: none;
}

@media screen and (min-width: 375px) {
  .header-logout-button {
    width: 90px;
  }
}

@media screen and (min-width: 768px) {
  .header-website-title {
    margin: 0px;
  }
  .nav-menu-lg {
    margin: 5px 0px 5px 0px;
  }
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu-icon {
    display: none;
  }
  .nav-menu-sm {
    display: none;
  }
  .nav-item {
    margin-right: 15px;
  }

  .header-search-container-sm {
    display: none;
  }

  .header-search-container-lg {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    height: 24px;
  }

  .header-search-button {
    width: 35px;
  }
  .nav-menu-lg {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
  }
  .navbar-footer-rule {
    display: block;
    border-top: none;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-content {
    width: 70%;
  }
  .header-website-title {
    font-size: 20px;
  }
  .nav-item {
    margin-right: 22px;
  }
}
